/* 
    Created on : 09-17-2021, 11:36:58 PM
    Hoja de estilo 2 CSS - CRUD JAVA LDPI 2021
*/

body{
    font-family: helvetica;
    background-color: #EBF5FB;
     margin: 1em;
    padding: 0px;
}

